.main{
    margin-top: 10%;
}
.mainClick{
    margin-top: 2%;
}
body{
    background-color: 	#8A2BE2;
}
.fix{
    border:2px solid lightblue;
    border-radius: 25px;
    background-color:grey ;
    padding: 15px;
}
h1,h4{
    color:#e5e5e5;
}
